.sidebar{
    width: 100px;
    // width: 300px;
    height: 100vh;
    // background-color: #1E1E30;
    // background-color: #323232;
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    color: #6C757D;
    z-index: 10;
    box-shadow: 1px 0px 8px 1px rgb(0,0,0,0.2)
}

.label{
    display: none;
}

.sidebar:hover{
    width: 300px;
    .label{
        display: block;
    }
}

.name{
    font-size: 16px;
    font-weight: 900;
    color: var(--highlight-color);
    width: 100px;
    margin-left: 0;
    text-align: center;
    padding: 40px 0;
}

.nav-items{
    width: 100%;
    margin-top: 50px;
}

.nav-item:hover{
    .label{
        background-color: rgba(108,117,125,0.12549);
    }
}


.nav-item{
    margin: 0;
    padding: 0;
    display: flex;
    .iconify-container {
        height: 76px;
        line-height: 76px;
        width: 100px;
    }
    .iconify{
        width: 2.5rem;
        height: 30px;    
        position: static;
        margin: auto;
        color: #6C757D;
        cursor: pointer;
    }
    .label{
        width: calc(100% - 100px);
        text-align: center;
        font-size: medium;
        margin: 0;
        height: 76px;
        line-height: 76px;
        cursor: pointer;
        p{
            margin: 0;
        }
    }
}


// This is just for the time being
// need to give this color to the select tab.
.nav-item.active {
    color: var(--highlight-color) !important;

    .iconify {
        color: var(--highlight-color) !important;
    }
}

// @media(max-width: 600px){
//     .sidebar{
//         display: none;
//     }
// }







.footer {
    position: absolute;
    bottom: 20px;
    width: 100px;
}




.iconify{
    width: 1.5rem;
    height: 1.5rem;    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    // color: white;
    color: #6C757D;
}