<div class="sidebar">
    <div class="name">
        TARAN 
    </div>
    <div class="nav-items">
        <div class="nav-item" *ngFor="let navItem of navItems" routerLinkActive="active" [routerLink]="navItem.route">
            <a class="iconify-container text-center">
                <span class="mdi iconify" [attr.data-icon]="navItem.icon" data-inline="false"></span>
            </a>
            
            <!-- <div class="icon">
                <i class="fa" [class]="navItem.icon"></i>
            </div> -->
            <div class="label">
                <p>{{navItem.label}}</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <a href="mailto:taranpal.singh23@gmail.com">
            <span class="iconify" data-icon="mdi-email-variant" data-inline="false"></span>
        </a>
    </div>
</div>
