<div class="sidebar">
    <div class="name">
        TARAN 
    </div>
    <div class="nav-items">
        <div class="nav-item" *ngFor="let navItem of navItems" routerLinkActive="active" [routerLink]="navItem.route">
            <div class="icon">
                <i class="fa" [class]="navItem.icon"></i>
            </div>
            <div class="label">
                <p>{{navItem.label}}</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <a href="https://www.linkedin.com/in/taran-pal-singh-221659121/" target="_blank">
            <span class="iconify" data-icon="mdi-linkedin" data-inline="false"></span>
        </a>
    </div>
</div>
