<div class="about">

  <div class="page-heading">
    <p class="title">About</p>
    <div class="underline"></div>
  </div>
  
  <div class="features fade-in">
    <app-feature-card></app-feature-card>
  </div>

  <div class="row middle-section text-center mx-2 fade-in">
    <div class="mb-4 intro col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
      <img src="../../../assets/images/profile.jpg" alt="" class="img img-fluid profileImg mb-3">
      <!-- <h2>Who am I ?</h2> -->
      <p>I am currently working as a Freelance Frontend Developer for <a href="https://www.falconfs.com/" target="_blank" class="highlight">Falcon</a>. <br> I love creating websites with great user experience.</p>
      <a href="mailto:taranpal.singh23@gmail.com" target="_blank">
        <p class="highlight">Let's make something special together.</p>  
      </a>
    </div>

    <div class="associations fade-in" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

      <companies></companies>

    </div>

    <!-- <div id="technologies" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      
      <div class="fullBar mb-3">
        <div class="techValue">
          <div class="techName">
            <strong>CSS</strong>
          </div>
        </div>
        <span class="percentage ml-auto">80%</span>
      </div> 
     
    </div> -->
    
  </div>


  <app-footer></app-footer>
</div>