<div class="projects">

  <div class="page-heading">
    <p class="title">About</p>
    <div class="underline"></div>
  </div>
  
  <div class="features">
    <app-feature-card></app-feature-card>
  </div>

  <div class="row text-center my-5 mx-2">
    <div class="mb-4 intro col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
      <img src="../../../assets/images/profile.jpeg" alt="" class="img img-fluid profileImg mb-3">
      <!-- <h2>Who am I ?</h2> -->
      <p>I am working as an Angular developer for <a href="https://kite.work/" class="highlight">KITE</a> in Delhi, India. <br> I love creating websites with great user experience.</p>
      <a href="">
        <p class="highlight">Let's make something special together.</p>  
      </a>
    </div>

    <div class="associations" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

      <companies></companies>

    </div>

    <!-- <div id="technologies" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      
      <div class="fullBar mb-3">
        <div class="techValue">
          <div class="techName">
            <strong>CSS</strong>
          </div>
        </div>
        <span class="percentage ml-auto">80%</span>
      </div> 
     
    </div> -->
    
  </div>


</div>