<!-- <div class="feature-card">
  <div class="icons">
    <span class="iconify" data-icon="mdi-speedometer" data-inline="false"></span>
  </div>
  <p class="title">{{feature.title}}</p>
  <p class="description">{{feature.description}}</p>
</div> -->

<div class="features">
  
  <!-- <div class="feature-cards"> -->
    <!-- <div class="feature-cards col-lg-3 col-md-3 col-sm-6 col-6 text-center"> -->
    <div class="feature-cards text-center">
      <div class="icons my-3">
          <span class="iconify" data-icon="mdi-speedometer" data-inline="false"></span>
      </div>    
      <h3>Fast</h3>
      <p>Fast load times and lag free interaction, my highest priority.</p>
    </div>
  <!-- </div> -->

  <!-- <div class=""> -->
    <div class="feature-cards text-center">
      <!-- <div class="feature-cards col-lg-3 col-md-3 col-sm-6 col-6 text-center"> -->
      <div class="icons mt-3 mb-3">
          <span class="iconify" data-icon="mdi-cellphone-link" data-inline="false"></span>
      </div>    
      <h3>Responsive</h3>
      <p>My layouts will work on any device, big or small.</p>
    </div>
  <!-- </div>   -->

  <!-- <div class="feature-cards"> -->
    <div class="feature-cards text-center">
      <!-- <div class="feature-cards col-lg-3 col-md-3 col-sm-6 col-6 text-center"> -->
      <div class="icons mt-3 mb-3">
          <span class="iconify" data-icon="mdi-cellphone-link" data-inline="false"></span>
      </div>    
      <h3>Intuitive</h3>
      <p>Strong preference for easy to use, intuitive UX/UI.</p>
    </div>
  <!-- </div>   -->

  <!-- <div class="feature-cards"> -->
    <div class="feature-cards text-center">
      <!-- <div class="feature-cards col-lg-3 col-md-3 col-sm-6 col-6 text-center"> -->
      <div class="icons mt-3 mb-3">
          <span class="iconify" data-icon="mdi-rocket" data-inline="false"></span>
      </div>    
      <h3>Dynamic</h3>
      <p>Websites don't have to be static, I love making pages come to life.</p>
    </div>  
  <!-- </div>   -->
</div>
