img {
  width: 100%;
  height: 250px;
}

@media (max-width: 600px){
  img {
    height: 210px;
  }
}

// .shadow {
//   background-color: gray;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100px;
//   height: 100%;
// }

// .carousel-control-prev, .carousel-control-next {
//   background-color: gray !important;
// }
