<div class="companies">
  <div class="heading">
    Major Associations
  </div>
  <div class="kite">
    <a href="https://kite.work/">
      <img src="../../../../assets/images/Kite.PNG" alt="kite">
    </a>
  </div>
  <div class="cybergroup">
    <a href="https://www.cygrp.com/">
      <img src="../../../../assets/images/Cybergroup.png" alt="cybergroup">
    </a>
  </div>
  <div class="loopcv">
    <a href="https://www.loopcv.pro/">
      <img src="../../../../assets/images/Loopcv.png" alt="loopcv">
    </a>
    <div class="vertical-helper"></div>
    <p>LoopCV</p>
  </div>
</div>