<div class="companies">
  <div class="heading">
    Major Associations
  </div>
  <div class="falcon">
    <a href="https://falconfs.com/" target="_blank">
      <img src="../../../../assets/images/companies/Kite1.png" alt="falcon">
    </a>
  </div>
  <div class="reach">
    <a href="https://www.reachhq.com/" target="_blank">
      <img src="../../../../assets/images/companies/reach.svg" alt="Reach">
    </a>
  </div>
  <div class="alchem">
    <a href="https://www.linkedin.com/company/alchem-synergy/" target="_blank">
      <img src="../../../../assets/images/companies/alchem.jfif" alt="AlchemSynergy">
    </a>
  </div>
  <div class="cybergroup">
    <a href="https://www.cygrp.com/" target="_blank">
      <img src="../../../../assets/images/companies/Cybergroup.png" alt="cybergroup">
    </a>
  </div>
</div>