<div class="footer text-center row my-3 mx-4">
  <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 contactLinks">
    <div class="contactIcons mt-3 mb-3">
        <a href="https://www.linkedin.com/in/taran-pal-singh-221659121/" target="_blank">
          <span class="iconify" data-icon="mdi-linkedin" data-inline="false"></span>
        </a>
    </div>  
    <div class="contactIcons mt-3 mb-3">
        <a href="https://www.instagram.com/tp.taran/" target="_blank">
          <span class="iconify" data-icon="mdi-instagram" data-inline="false"></span>
        </a>
    </div>
    <div class="contactIcons mt-3 mb-3">
        <a href="https://www.facebook.com/taranpal.singh.336" target="_blank">
          <span class="iconify" data-icon="mdi-facebook" data-inline="false"></span>
        </a>
    </div>  
    <div class="contactIcons mt-3 mb-3">
      <a href="https://github.com/taranpalsingh" target="_blank">
        <span class="iconify" data-icon="mdi-github-box" data-inline="false"></span>
      </a>
    </div>  
  </div>
</div>