.projects{
    text-align: center;
}

.title {
    color: white;
}

.projects-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 4rem;
}

.searchBar{
    width: 500px;
    height: 70px;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0,0,0,0.2);
    background-color: var(--background-color);
}

@media (max-width: 600px){
    .projects{
        margin-bottom: 60px;
    }
    .projects-container{
        grid-template-columns: none;
        padding: 0 1rem;
    }
}