.project{
    width: 100%;
    padding: 15px;
    display: flex;
    background-color: #1E1E30;
    overflow: hidden;
}

.img{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
}

.description{
    margin: 10px;
}
