<div class="container">
  
  <div class="project">
    <div class="heading">
      {{project.name}}
      <div class="dots">
        <div class="dot green"></div>
        <div class="dot yellow"></div>
        <div class="dot red"></div>
      </div>
    </div>
    <div class="image">
      <img [src]="project.img" alt="" class="img">
      <div class="imgCover">

        <div class="techContainer">
          <div class="techStacks">
            <div class="tech" *ngFor="let item of project.tech">
              {{item}}
            </div>
          </div>  
        </div>

        <div class="more tech">

        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="project">
    <img [src]="project.img" alt="" class="img img-fluid">
    <div class="description">
      <h2 class="name">{{project.name}}</h2>
      <a [href]="project.url">{{project.url}}</a>
      <p>{{project.description}}</p>
    </div>
</div> -->