<div class="container">
  
  <div class="project" (click)="openDialog()">
    <div class="heading">
      {{project.name}}
      <div class="dots">
        <div class="dot green"></div>
        <div class="dot yellow"></div>
        <div class="dot red"></div>
      </div>
    </div>
    <div class="image">
      <img [src]="project.images[0]" alt="" class="img">
      <div class="imgCover">

        <div class="backdrop"></div>

        <div class="techContainer">
          <div class="techStacks">
            <div class="tech" *ngFor="let tech of project.technologies">
              {{tech}}
            </div>
          </div>  
        </div>

        <!-- <div class="more tech">

        </div> -->
      </div>
    </div>
  </div>
</div>