.navbar {
  display: flex;
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: -1px;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  z-index: 2;
  box-shadow: 0 -1px 5px 0px rgba(255, 255, 255, 0.04);
  padding: 0;

  .nav-item{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    color: white;
    width: 20%;

    .iconify-container {
      height: 60px;
      line-height: 60px;
      width: 100px;
    }
    .iconify{
        width: 1.6rem;
        height: 30px;    
        position: static;
        margin: auto;
        color: #6C757D;
        cursor: pointer;
    }
  }
  .nav-item.active {
    // width: 70px;
    color: var(--highlight-color) !important;

    .iconify {
      width: 2.5rem;
      color: var(--highlight-color) !important;
    }
  }
}