.navbar {
  display: flex;
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: -1px;
  left: 0;
  right: 0;
  background-color: #2a2a2a;
  z-index: 2;
  border-top: 1px solid white;
  padding: 0;

  .nav-item{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    color: white;
    width: 20%;

    .icon{
      width: 50px;
      text-align: center;
      align-self: center;
      margin: auto;

      cursor: pointer;
      .fa{
        font-size: 24px;
        line-height: 60px;
      }
    }
  }
  .nav-item.active {
    // width: 70px;
    color: #04C2C9 !important;

    .icon{
      width: 65px;

      .fa{
        font-size: 32px;
      }
    }
  }
}