/* @import '../../../styles.scss'; */

.main-panel{
    margin-left: 100px;
    width: calc(100vw - 100px);
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    color: #6C757D;
}

@media (max-width: 600px){
    .main-panel{
        margin: 0;
        width: 100vw;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--background-color);
        color: #6C757D;
    }
}