.main-panel{
    margin-left: 100px;
    width: calc(100vw - 100px);
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #181829; */
    background-color: #2a2a2a;
    /* background-color: #222831; */
    color: #6C757D;
}