<div class="home">
    <!-- <p>home</p> -->
    <div class="text-center home-content fade-in">
      <h1>Hello, I am <span id="name">Taran Pal Singh</span>,</h1>
      <h1>a Full-Stack Web Developer.</h1>
        <div id="arrowAnim" (click)="viewWork()">
            <div class="arrowSliding">
              <div class="arrow"></div>
            </div>
            <div class="arrowSliding delay1">
              <div class="arrow"></div>
            </div>
            <div class="arrowSliding delay2">
              <div class="arrow"></div>
            </div>
            <div class="arrowSliding delay3">
              <div class="arrow"></div>
            </div>
          </div>
          
    </div>
</div>
<background class="background"></background>