.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

canvas{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#name{
  color: #E31B6D;
  font-weight: bold;
  letter-spacing: 2px;
}

.home{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30vh;
  margin: auto;
  z-index: 2;
}

.home-content h1 {
  font-size: 2.5em !important;
  font-weight: 500;
  font-weight: 500;
  line-height: 120%;
  color: white;
}

#arrowAnim {
  width: 30vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  margin: auto;
  cursor: pointer;
}

.arrow {
  width: 2vw;
  height: 2vw;
  border: 1vw solid;
  border-color: #E31B6D transparent transparent #E31B6D;
  transform: rotate(-45deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite; 
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s; 
  animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s; 
  animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s; 
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% { opacity:0; transform: translateX(5vw); }	
  20% { opacity:1; transform: translateX(3vw); }	
  80% { opacity:1; transform: translateX(-3vw); }	
  100% { opacity:0; transform: translateX(-5vw); }	
}
@keyframes slide {
  0% { opacity:0; transform: translateX(5vw); }	
  20% { opacity:1; transform: translateX(3vw); }	
  80% { opacity:1; transform: translateX(-3vw); }	
  100% { opacity:0; transform: translateX(-5vw); }	
}

@media (max-width: 600px){
  
  .background {
    opacity: 0.4;
  }

  .home{
    width: 80vw;
    height: 45vh;
  }

  .row{
    margin: 30vh auto 0 auto;
  }

  h1{
    font-size: 2rem;
    line-height: 2.5rem;
  }

  #name {
    font-size: 2.3rem;
  }

  .arrow {
    width: 6vw;
    height: 6vw;
    border: 3vw solid;
    border-color: #E31B6D transparent transparent #E31B6D;
    transform: rotate(-45deg);
  }

  #arrowAnim {
    width: 30vw;
    height: 10vh;
  }

  @-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(12vw); }	
    20% { opacity:1; transform: translateX(6vw); }	
    80% { opacity:1; transform: translateX(-6vw); }	
    100% { opacity:0; transform: translateX(-12vw); }	
  }
  @keyframes slide {
    0% { opacity:0; transform: translateX(12vw); }	
    20% { opacity:1; transform: translateX(6vw); }	
    80% { opacity:1; transform: translateX(-6vw); }	
    100% { opacity:0; transform: translateX(-12vw); }	
  }
  
}
